<template>
  <div class="home-page"
    @mouseleave="onResizeFinish"
  >

    <div class="root-content" ref="content">
      <sort-filter-bar />

      <div class="templates-root">
        <new-template-dialog @onSignedin="handleSignedin" />

        <div class="view-list-titles mb-2">
          <span class="view">VIEW</span>
          <span class="owner">OWNER</span>
          <span class="updated">UPDATED</span>
        </div>

        <div class="views-list-root" v-if="this.views.length">
          <div
            v-for="(view) in getViewsPage()"
            :key="view.id"
            :class="['view-item-wrapper', view.active && 'active']"
          >
            <v-card
              class="view-item"
              flat
              tile
              :loading="viewLoading === view.id && '#92B0FF'"
              @click="selectView(view)"
              @mouseover="setFocus(view, true)"
              @mouseleave="setFocus(view, false)"
            >
              <v-container class="view-container pa-0">
                <v-row>
                  <v-col cols="1">
                    <span>
                      <v-icon large class="view-avatar">mdi-chart-areaspline-variant</v-icon>
                    </span>
                  </v-col>

                  <v-col cols="7">
                    <p class="view-workbook-name ma-0">
                      {{view.workbook.name}}
                    </p>
                    <p class="view-name ma-0">
                      {{view.name}}
                    </p>
                    <div class="view-details">
                      <span>
                        <v-icon class="view-details-icon">mdi-heart</v-icon>
                        {{view.favoritesTotal}}
                      </span>

                      <span>
                        <v-icon class="view-details-icon">mdi-eye-outline</v-icon>
                        {{view.usage.totalViewCount}}
                      </span>
                    </div>
                  </v-col>

                  <v-col class="align-right" cols="2">
                    <p class="view-owner ma-0">
                      {{view.owner.fullName}}
                    </p>
                  </v-col>

                  <v-col class="align-right" cols="2">
                    <p class="view-owner ma-0">
                      {{view.updatedAt | viewUpdated}}
                    </p>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </div>

          <v-pagination
            v-model="page"
            :length="viewsLength"
            circle
            :total-visible="7"
            color="#5F68AD"
            class="mt-6"
          />
        </div>

        <loader
          absolute
          :value="viewsLoading"
        />
      </div>
    </div>

    <div
      :class="['right-pane', isPaneExpanded && 'expanded']"
      ref="pane"
      @click="setPaneExpanded($event, false)"
      @mousedown="onResizeStart"
      @mouseup="onResizeFinish"
    >
      <span class="cursor-resize" />
      <div class="active-view-root" v-if="hasActiveFocusedView">
        <div class="space" />

        <v-divider inset class="divider" />

        <v-sheet
          v-if="viewLoading"
          color="grey lighten-4"
          class="active-view-image loading"
        >
          <v-skeleton-loader
            class="mx-auto"
            type="image"
          ></v-skeleton-loader>
        </v-sheet>

        <v-img
          v-else
          :src="activeFocusedView.image || ''"
          class="active-view-image"
          height="200"
          contain
        />

        <v-container class="active-view-details pa-0">
          <dl class="full-width">
            <dt>VIEW NAME</dt>
            <dd class="bold">{{activeFocusedView.name}}</dd>
          </dl>
          <dl>
            <dt>WORKBOOK</dt>
            <dd>{{activeFocusedView.workbook.name}}</dd>

            <dt>VIEWS</dt>
            <dd>{{activeFocusedView.usage.totalViewCount}}</dd>

            <dt>CREATED</dt>
            <dd class="color-grey">{{activeFocusedView.createdAt | activeViewDateFormat}}</dd>
          </dl>
          <dl>
            <dt>OWNER</dt>
            <dd>{{activeFocusedView.owner.fullName}}</dd>

            <dt>FAVORITES</dt>
            <dd>{{activeFocusedView.favoritesTotal}}</dd>

            <dt>UPDATED</dt>
            <dd class="color-grey">{{activeFocusedView.updatedAt | activeViewDateFormat}}</dd>
          </dl>

          <dl class="full-width">
            <dt>PROJECT</dt>
            <dd>{{activeFocusedView.project.name}}</dd>
            <dt></dt>
            <dd>{{activeFocusedView.project.description}}</dd>
          </dl>
        </v-container>

        <div class="active-view-sources mt-6">
          <custom-button
            :href="getViewSourceLink(activeFocusedView)"
            target="_blank"
          >
          View Source
          </custom-button>
        </div>
      </div>

    </div>

  </div>

</template>

<style lang="scss" scoped>
$right-pane-width: 380px;

.home-page {
  display: flex;
  justify-content: space-between;
  background-color: $color-2;
  height: 100%;
}

.root-content {
  position: relative;
  width: calc(100% - #{$right-pane-width});

  .search-divider {
    border-color: $color-1 !important;
  }
  .templates-root {
    padding: 23px 48px;

    .templates-top-bar {
      display: flex;
      justify-content: space-between;
    }
  }

  .view-list-titles {
    display: flex;
    flex-wrap: wrap;

    span {
      text-align: center;
      font-size: 8px;
      line-height: 11px;
      letter-spacing: 0.1em;
      flex: 0 0 15%;

      &:first-of-type {
        flex: 0 0 70%;
      }
    }
  }
  .view-item-wrapper {
    &:hover, &.active {
      padding-top: 16px;
      padding-bottom: 16px;

      .view-item {
        transform: translateX(24px);
      }
    }

    .view-item {
      padding-left: 16px;
      padding-right: 16px;
      border-bottom: 1px solid $color-1;
      transition: all 100ms;
      margin: 0 auto;

      .view-container {
        .col {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }

        .align-right {
          align-items: flex-end;
        }
      }
      .view-avatar {
        color: $color-7;
      }
      .view-workbook-name {
        color: $color-8;
        font-size: 10px;
        font-weight: 500;
      }
      .view-name {
        color: $color-9;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        margin-top: 5px;
      }
      .view-details {
        display: flex;

        color: black;
        font-size: 9px;
        line-height: 8px;
        margin-top: 8px;

        span {
          display: flex;
          align-items: center;
          margin-right: 5px;
        }

        .view-details-icon {
          color: black;
          font-size: 11px;
          margin-right: 2px;
        }
      }

      .view-owner {
        color: black;
        font-weight: 300;
        font-size: 9px;
        line-height: 11px;
      }
    }
  }
}

.right-pane {
  width: $right-pane-width;
  position: relative;
  overflow: hidden;
  background: #fff;
  right: 0;

  &.expanded {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw !important;
    background-color: $color-10;
    z-index: 9999;
    transition: all 300ms;

    .active-view-root {
      position: absolute;
      width: 70%;
      right: 0;
      top: 0;
    }
  }

  .cursor-resize {
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
    z-index: 9999;
  }

  .active-view-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: inherit;
    padding: 0 24px;
    position: fixed;
    position: relative;
    right: 0;

    background: #fff;

    .space {
      height: 162px;
      width: 100%;
    }
    .divider {
      border-color: $color-1;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
    .active-view-image {
      margin-top: 16px;
      width: 100%;
      max-height: 200px;
    }
    .active-view-details {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;

      dl {
        width: 50%;
        overflow: hidden;
        padding: 0;
        margin: 0;
        flex: 0 0 50%;

        &.full-width {
          width: 100%;
          flex: 0 0 100%;
          margin: 8px 0;

          dt {
            width: 20%;
          }
          dd {
            width: 80%;
          }
        }
      }
      dt {
        float: left;
        width: 40%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 3px 0 0;
        margin: 0;
        height: 17px;
        min-width: min-content;

        color: $color-7;
        font-size: 9px;
        line-height: 12px;
        letter-spacing: 0.05em;
      }
      dd {
        float: left;
        width: 60%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 0;
        margin: 0;
        height: 17px;

        color: $color-8;
        font-size: 11px;
        line-height: 17px;

        &.color-grey {
          color: $color-9;
          width: 100%;
        }
        &.bold {
          font-weight: 700;
        }
      }
    }
  }
}
</style>

<script>
import moment from 'moment';
import _debounce from 'lodash/debounce';
// @ is an alias to /src
import CustomButton from '@/components/elements/Button.vue';
import SortFilterBar from '@/components/SortFilterBar.vue';
import NewTemplateDialog from '@/components/NewTemplateDialog.vue';
import Loader from '@/components/elements/Loader.vue';

// cursor resize area on the right panel
const BORDER_SIZE = 4;
const PAGE_LIMIT = 7;

export default {
  data: () => ({
    isResizing: false,
    resizePosition: null,
    isPaneExpanded: false,

    page: 1,

    viewsLoading: false,
    viewLoading: false,
  }),

  filters: {
    viewUpdated(value) {
      return moment(value).fromNow();
    },
    activeViewDateFormat(value) {
      return moment(value).format('DD/MM/YYYY hh:mmA');
    },
  },

  methods: {
    resize(e) {
      if (!this.isResizing) return;

      const dx = this.resizePosition - e.clientX;
      this.resizePosition = e.clientX;

      const contentWidth = parseInt(getComputedStyle(this.$refs.content, '').width, 10);
      const paneWidth = parseInt(getComputedStyle(this.$refs.pane, '').width, 10);

      this.$refs.content.style.width = `${parseInt(contentWidth - dx, 10)}px`;
      this.$refs.pane.style.width = `${parseInt(paneWidth + dx, 10)}px`;
    },
    onResizeStart(e) {
      if (e.offsetX < BORDER_SIZE) {
        this.isResizing = true;
        this.resizePosition = e.clientX;

        document.addEventListener('mousemove', this.resize, false);
      }
    },
    onResizeFinish() {
      this.isResizing = false;
      document.removeEventListener('mousemove', this.resize, false);
    },


    async handleSignedin() {
      this.viewsLoading = true;
      await this.$store.dispatch('getViews');
      this.setActive(this.views[0]);
      this.viewsLoading = false;
    },
    async setActive(view) {
      const obj = {};

      if (!view.image) {
        obj.image = await this.loadViewImage(view.id);
      }

      const newViews = this.$store.state.tableau.views.map((item) => {
        const newItem = item;

        if (item.id === view.id) {
          newItem.active = true;
          return Object.assign(item, obj);
        }
        newItem.active = false;
        return newItem;
      });

      this.$store.commit('setViews', newViews);
    },
    setFocus: _debounce(async function (view, focused) {
      const obj = {};

      if (focused && this.activeFocusedView && this.activeFocusedView.id === view.id) return;

      if (!view.image) {
        obj.image = await this.loadViewImage(view.id);
      }

      const newViews = this.$store.state.tableau.views.map((item) => {
        const newItem = item;

        if (newItem.id === view.id) {
          newItem.focused = focused;
          return Object.assign(newItem, obj);
        }
        newItem.focused = false;
        return item;
      });

      this.$store.commit('setViews', newViews);
    }, 300),
    async loadViewImage(viewId) {
      this.viewLoading = viewId;
      const image = await this.$store.dispatch('getViewImage', viewId);
      this.viewLoading = null;

      return image;
    },

    async selectView(view) {
      this.setActive(view);
      this.setPaneExpanded(null, true);
    },
    async setPaneExpanded(e, expanded) {
      if (e) e.stopPropagation();
      this.isPaneExpanded = expanded;
    },

    getViewsPage() {
      const sliceFrom = this.page * PAGE_LIMIT - PAGE_LIMIT;
      return this.views.slice(sliceFrom, sliceFrom + PAGE_LIMIT);
    },

    getViewSourceLink(view) {
      const site = this.$store.state.tableau.credentials.site.contentUrl;
      return `https://10ax.online.tableau.com/#/site/${site}/views/${view.workbook.contentUrl}/${view.viewUrlName}`;
    },
  },

  computed: {
    views() {
      return this.$store.getters.filteredViews;
    },
    hasActiveFocusedView() {
      // used to set visible the right pane view details
      const view = this.views.find((item) => item.focused || item.active);
      return !!view;
    },
    activeFocusedView() {
      // used to get view information for the right pane
      const focused = this.views.find((view) => view.focused);
      const active = this.views.find((view) => view.active);
      return focused || active;
    },
    viewsLength() {
      // used to get view information for the right pane
      return Math.ceil(this.views.length / PAGE_LIMIT);
    },
  },

  beforeDestroy() {
    this.onResizeFinish();
  },

  name: 'Home',

  components: {
    SortFilterBar,
    NewTemplateDialog,
    CustomButton,
    Loader,
  },
};
</script>
