<template>
  <div :class="['filters-bar-root', expanded && 'expanded']">
    <div class="filter-wrapper">
      <span class="filter-title">CREATED</span>
      <v-menu
        v-model="menuCreated"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="dateCreated"
            single-line
            clearable
            label="Choose Date"
            v-on="on"
            outlined
            dense
            hide-details
            class="filter-input"
            @change="onFilterChange(['created', $event])"
          ></v-text-field>
        </template>
        <v-date-picker
          color="#5F68AD"
          v-model="dateCreated"
          @input="menuCreated = false"
          @change="onFilterChange(['created', $event])"
        />
      </v-menu>
    </div>

    <div class="filter-wrapper">
      <span class="filter-title">WORKBOOK</span>
      <v-select
        :items="$store.getters.allWorkbooks"
        outlined
        clearable
        @change="onFilterChange(['workbook', $event])"
        dense
        hide-details
        single-line
        class="filter-select"
        color="#5F68AD"
        append-icon=""
        label="Choose Workbook"
      />
    </div>

    <div class="filter-wrapper">
      <span class="filter-title">OWNER</span>
      <v-select
        :items="$store.getters.allOwners"
        outlined
        clearable
        @change="onFilterChange(['owner', $event])"
        dense
        hide-details
        single-line
        class="filter-select"
        color="#5F68AD"
        append-icon=""
        label="Choose Owner"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
$transition-time: 200ms;

.filters-bar-root {
  display: flex;
  align-items: center;

  overflow: hidden;
  height: 0;
  transition: height $transition-time ease-in-out;

  * {
    visibility: hidden;
    opacity: 0;
    transition: all 100ms 100ms;
  }

  &.expanded {
    height: 48px;

    * {
      visibility: visible;
      opacity: 1;
    }
  }

  .filter-wrapper {
    display: flex;
    align-items: center;

    .filter-title {
      margin-left: 16px;
      margin-right: 8px;
      font-size: 8px;
      color: $color-7;
      letter-spacing: 0.1em;
      white-space: nowrap;
    }

    .filter-input {
      color: $color-5;
      font-size: 12px;
      max-width: 120px;

      padding-top: 0;
    }

    .filter-select {
      font-size: 12px;
      max-width: 120px;
      color: $color-8;
      height: 27px;
    }

    .filter-switch {
      margin-top: 0;
      margin-left: 4px;
    }
  }

}

</style>

<style lang="scss">
.filter-input {
  .v-label {
    font-size: 12px;
    color: $color-7;
    top: 4px !important;
  }

  &.v-text-field--outlined fieldset {
    border: 1px solid $color-1 !important;
    border-radius: 0;
  }

  &.v-text-field input {
    padding: 4px 0 4px;
  }

  .v-select__slot {
    height: 27px;
  }

  &.v-text-field--outlined.v-input--dense.v-text-field--outlined >
  .v-input__control > .v-input__slot {
    padding: 0 6px 0 12px;
    min-height: 27px;
  }

  .v-icon.v-icon {
    font-size: 16px !important;
  }

  .v-input__append-inner {
    margin-top: 2px !important;
  }
}
.filter-select {
  .v-label {
    font-size: 12px;
    color: $color-7;
    top: 4px !important;
  }

  &.theme--light .v-select__selection--comma {
    color: $color-8 !important;
  }

  &.v-text-field--outlined fieldset {
    border: 1px solid $color-1 !important;
    border-radius: 0;
  }

  &.v-select.v-text-field input {
    padding: 4px 0 4px;

    &::placeholder {
      color: $color-7 !important;
    }
  }

  .v-select__slot {
    height: 27px;
  }

  &.v-text-field--outlined.v-input--dense.v-text-field--outlined >
  .v-input__control > .v-input__slot {
    min-height: 27px;
    padding: 0 6px 0 12px;
  }

  .v-icon.v-icon {
    font-size: 16px !important;
  }

  .v-input__append-inner {
    margin-top: 2px !important;
  }
  .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__append-inner {
    margin-top: 0 !important;
  }
}
.filter-switch {
  .v-input--selection-controls__input {
    height: 16px;
  }
  &.theme--light.v-input--switch .v-input--switch__track {
    color: transparent !important;
    border: 2px solid $color-6;
    border-radius: 12px;
    opacity: 1;

    margin-top: 3px;
    width: 40px;
    height: 16px;
  }
  &.theme--light.v-input--switch .v-input--switch__thumb {
    color: $color-6;
    border-radius: 4px;
    margin-top: 3px;
    width: 12px;
    height: 8px;
  }
}
</style>

<script>
export default {

  props: ['expanded'],

  data: () => ({
    dateCreated: null,
    menuCreated: false,
    items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
    archived: false,
  }),

  methods: {
    onFilterChange(filter) {
      this.$store.commit('setFilter', filter);
    },
  },

  name: 'FilterBar',
};
</script>
