<template>
  <v-navigation-drawer
    mini-variant
    mini-variant-width="80"
    permanent
    app
    overflow
    class="nd-root"
  >
    <div>
      <v-img
        :src="require('../assets/logo.svg')"
        class="nd-logo"
        contain
        height="40"
      />
    </div>
    <v-divider class="nd-divider"></v-divider>
  </v-navigation-drawer>
</template>

<style lang="scss" scoped>
.nd-logo {
  margin-top: 24px;
  margin-bottom: 32px;
}
.nd-divider {
  max-width: 56px;
  margin: 0 auto;
  border-color: $color-1 !important;
}
</style>

<style lang="scss">
.nd-root {
  .v-navigation-drawer__border {
    width: 0;
  }
}
</style>

<script>
export default {
  name: 'NavigationDrawer',

  data: () => ({
  }),
};
</script>
