<template>
  <v-dialog
    v-model="dialog"
    @click:outside="handleOutsideClick"
    width="500"
    class="new_template_dialog_root"
  >
    <template v-slot:activator="{on}">
      <custom-button
        class="new-template-btn"
        v-on="on"
      >
        + New Template
      </custom-button>
    </template>

    <v-card class="new_template_dialog_content">
      <div
        class="headline"
      >
        Sign in to Tableau
      </div>

      <v-divider inset class="divider" />

      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        class="form"
      >
        <v-text-field
          v-model="contentUrl"
          :rules="contentUrlRules"
          name="url"
          label="Content URL"
          color="#92B0FF"
          required
        ></v-text-field>

        <v-text-field
          v-model="name"
          :rules="nameRules"
          name="email"
          label="Email"
          color="#92B0FF"
          required
        ></v-text-field>

        <v-text-field
          type="password"
          name="password"
          v-model="password"
          :rules="passwordRules"
          label="Password"
          color="#92B0FF"
          required
        ></v-text-field>

      </v-form>

      <v-divider inset class="divider" />

      <v-card-actions class="actions">
        <v-spacer></v-spacer>
        <custom-button
          :disabled="!valid"
          :loading="loading"
          @click="handleSignin"
        >
        Sign in
        </custom-button>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style lang="scss">
.new_template_dialog_content {
  .headline {
    padding: 8px 24px;
    color: $color-8;
  }
  .divider {
    margin: 0 auto !important;
    border-color: $color-1;
    max-width: calc(100% - 48px);
  }
  .form {
    padding: 0 24px 20px;
  }
  .actions {
    padding-right: 24px;
  }
}
</style>

<script>
import CustomButton from '@/components/elements/Button.vue';

export default {

  data: () => ({
    dialog: false,
    valid: true,
    contentUrl: '',
    contentUrlRules: [
      (v) => !!v || 'Content Url is required',
    ],
    name: '',
    nameRules: [
      (v) => !!v || 'Email is required',
    ],
    password: '',
    passwordRules: [
      (v) => !!v || 'Password is required',
    ],
  }),

  computed: {
    loading() {
      return this.$store.state.tableau.loading;
    },
  },

  methods: {
    handleOutsideClick() {
      this.$refs.form.reset();
    },
    async handleSignin() {
      await this.$store.dispatch('signin', {
        name: this.name,
        password: this.password,
        contentUrl: this.contentUrl,
      });

      await this.$emit('onSignedin');

      this.dialog = false;
    },
  },

  name: 'NewTemplateDialog',

  components: {
    CustomButton,
  },
};
</script>
