<template>
  <div class="search-bar-root">
    <v-img
      :src="require('../assets/icons/search.svg')"
      class="search-logo"
      contain
      height="32"
    />

    <v-text-field
      label="Search..."
      :class="['search-input', value && 'expanded']"
      single-line
      color="rgba(0, 0, 0, 0.87)"
      @focus="$emit('input', true)"
    >
      <!-- @blur="expanded = false" -->

      <!-- <template v-slot:append-outer>

        <v-img
          :src="require('../assets/icons/arrow-down.svg')"
          :class="['arrow-down-icon', expanded && 'expanded']"
          contain
          width="10"
        />

      </template> -->
    </v-text-field>

    <v-btn
      :class="['expand-btn', value && 'expanded']"
      icon small @click="$emit('input', !value)"
    >
      <v-img
        :src="require('../assets/icons/arrow-down.svg')"
        class="arrow-down-icon"
        contain
        width="10"
      />
    </v-btn>

    <v-divider vertical inset class="search-divider ml-4"></v-divider>

    <div class="sort-dropdown">
      <span class="sort-title">SAVED FILTERS</span>
      <v-select
        :items="items"
        :value="items[0]"
        clearable
        outlined
        dense
        append-icon=""
        hide-details
        single-line
        class="sort-select"
        color="#5F68AD"
      >
      </v-select>
    </div>

    <v-divider vertical inset class="search-divider ml-6"></v-divider>

    <div class="sort-dropdown">
      <span class="sort-title">ORDER BY</span>
      <v-select
        :items="sortParameters"
        :value="sortParameter"
        clearable
        outlined
        dense
        hide-details
        single-line
        append-icon=""
        class="sort-select"
        color="#5F68AD"
        @change="onSelectChange"
      >
      <template v-slot:append-outer>

        <v-btn
          icon
          class="sort-direction-btn"
          color="#5F68AD"
          @click="changeSortDirection"
        >
          <v-icon v-if="sortDirection === 'asc'">mdi-arrow-down</v-icon>
          <v-icon v-else>mdi-arrow-up</v-icon>
        </v-btn>

      </template>
      </v-select>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$transition-time: 200ms;

.search-bar-root {
  height: 48px;
  display: flex;
  align-items: center;

  padding-left: 9px;
  padding-right: 24px;

  .search-logo {
    width: 32px;
    flex: 0 0 auto;

    &:focus {
      border: 1px solid $color-6;
    }
  }
  .search-input {
    color: $color-5;
    font-size: 12px;

    padding-top: 0;

    .v-text-field__details {
      display: none;
    }

    .arrow-down-icon {
      flex: 0 0 auto;
      height: 24px;
      transition: transform $transition-time ease-in-out;

      &.expanded {
        transform: rotate(180deg);
      }
    }
  }
  .expand-btn {
    transition: transform $transition-time ease-in-out;
    width: 16px;
    height: 16px;

    &.expanded {
      transform: rotate(180deg);
    }

    .arrow-down-icon {
      flex: 0 0 auto;
    }
  }
  .search-divider {
    border-color: $color-6;
  }

  .sort-dropdown {
    display: flex;
    align-items: center;

    .sort-title {
      margin-left: 25px;
      margin-right: 9px;
      font-size: 12px;
      color: $color-7;

      white-space: nowrap;
    }

    .sort-select {
      font-size: 12px;
      max-width: 90px;
      color: $color-8;
      height: 27px;
      min-width: 150px;

      .arrow-down-icon {
        height: 11px;
      }
    }
  }
}
</style>

<style lang="scss">
.search-input {
  input {
    padding: 4px 0 4px !important;
  }
  .v-label {
    font-size: 12px;
    color: $color-5;
  }
  .v-text-field__details {
    display: none;
  }
  &.theme--light > .v-input__control > .v-input__slot:before {
    border: 0;
  }
  &.v-input__is-focused > .v-input__control > .v-input__slot:after {
    border: 0;
  }
  & > .v-input__control > .v-input__slot:after {
    border: 0 !important;
  }
  &.expanded > .v-input__control > .v-input__slot {
    border-bottom: 1px solid $color-6;
  }
}
.sort-select {
  &.theme--light .v-select__selection--comma {
    color: $color-8 !important;
  }

  &.v-text-field--outlined fieldset {
    border: 1px solid $color-1 !important;
    border-radius: 0;
  }

  &.v-select.v-text-field input {
    padding: 4px 0 4px;
  }

  .v-select__slot {
    height: 27px;
  }

  .sort-direction-btn {
    width: 10px;
    height: 10px;
  }
  &.v-text-field--outlined.v-input--dense.v-text-field--outlined >
  .v-input__control > .v-input__slot {
    min-height: 27px;
    padding: 0 6px 0 12px;
  }
  .v-icon.v-icon {
    font-size: 16px !important;
  }
  .v-input__append-inner {
    margin-top: 2px !important;
  }
}
</style>

<script>
export default {

  props: ['value'],

  data: () => ({
    items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
    sortParameters: [
      'name',
      'workbook',
      'owner',
      'created',
    ],

    sortParameter: null,
    sortDirection: 'asc',
  }),

  methods: {
    onSelectChange(parameter) {
      this.sortParameter = parameter;
      this.setSortRule();
    },
    changeSortDirection() {
      this.sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc';
      this.setSortRule();
    },
    setSortRule() {
      this.$store.commit('setSortRule', [this.sortParameter, this.sortDirection]);
    },
  },

  name: 'SearchBar',
};
</script>
