<template>
  <div class="sort-filter-bar">

    <search-bar v-model="expanded"/>

    <filter-bar :expanded="expanded" />

  </div>

</template>

<style lang="scss" scoped>

.sort-filter-bar {
  border-bottom: 1px solid $color-1;
}

</style>

<style lang="scss">
.search-input {
  input {
    padding: 4px 0 4px !important;
  }
  .v-label {
    font-size: 12px;
    color: $color-5;
  }
  .v-text-field__details {
    display: none;
  }
  &.theme--light > .v-input__control > .v-input__slot:before {
    border: 0;
  }
  &.v-input__is-focused > .v-input__control > .v-input__slot:after {
    border: 0;
  }
  & > .v-input__control > .v-input__slot:after {
    border: 0 !important;
  }
  &.expanded > .v-input__control > .v-input__slot {
    border-bottom: 1px solid $color-6;
  }
}
.sort-select {
  &.theme--light .v-select__selection--comma {
    color: $color-8 !important;
  }

  &.v-text-field--outlined fieldset {
    border: 1px solid $color-1 !important;
    border-radius: 0;
  }

  &.v-select.v-text-field input {
    padding: 4px 0 4px;
  }

  .v-select__slot {
    height: 27px;
  }

  &.v-text-field--outlined.v-input--dense.v-text-field--outlined >
  .v-input__control > .v-input__slot{
    min-height: 27px;
  }
}
</style>

<script>
import SearchBar from './SearchBar.vue';
import FilterBar from './FilterBar.vue';

export default {

  data: () => ({
    expanded: true,
  }),

  name: 'SortFilterBar',

  components: {
    SearchBar,
    FilterBar,
  },
};
</script>
