<template>
  <v-btn
    text
    class="button-root"
    @click="onClick"
    :loading="loading"
    :disabled="disabled"
    :href="href"
  >
    <slot />
  </v-btn>
</template>

<style lang="scss" scoped>
.button-root {
  text-transform: capitalize;
  background-color: $color-3;
  color: $color-4 !important;

  width: 135px;
  height: 32px;
}
</style>

<script>
export default {

  props: ['loading', 'disabled', 'href'],

  methods: {
    onClick(e) {
      this.$emit('click', e);
    },
  },

  name: 'Button',
};
</script>
