<template>
  <v-overlay
    :absolute="absolute"
    :value="value"
    class="views-loader-root"
  >
    <v-icon large color="white" class="views-loader">
      mdi-loading
    </v-icon>
  </v-overlay>
</template>

<style lang="scss" scoped>
.views-loader-root {
  .views-loader {
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    65%  { transform: rotate(1800deg); }
    100% { transform: rotate(2160deg); }
}
</style>

<script>
export default {

  props: ['value', 'absolute'],

  name: 'Loader',

};
</script>
