<template>
  <v-app>
    <navigation-drawer />

    <v-content id="app">
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import NavigationDrawer from '@/components/NavigationDrawer.vue';

export default {
  name: 'App',

  components: {
    NavigationDrawer,
  },

  data: () => ({
    primaryDrawer: {
      model: null,
      type: 'permanent',
      clipped: false,
      floating: false,
      mini: false,
    },
  }),
};
</script>
