$body-font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$heading-font-family: $body-font-family;

body {
  margin: 0;
  font-family: $body-font-family;

  .v-application {
    font-family: $body-font-family, sans-serif !important;
  }
}